body {
    padding-top: 30px;
    background: #FFFFFF;
    color: #545454;
}

a {
    color: #142352;
}

footer {
    color: #949494;
}

li {
    text-align: left;
}

.lead {
    text-align: left;
    color: #142352;
    font-weight: bold;
}

.section-header {
    text-align: center;
    background: #142352;
    padding: 10px;
    color: #C4C4C4;
}

blockquote {
    font-style: italic;
    text-align: left;
    border: solid 1px;
    padding: 5px;
}

.bg-blue {
    background: #142352;
}