body {
    padding-top: 56px;
    background: #142352;
    color: #C4C4C4;
}

a {
    color: #949494;
}

footer {
    color: #949494;
}

.container {
    text-align: center;
}

li {
    text-align: left;
}

.lead {
    text-align: left;
    color: chocolate;
}

blockquote {
    font-style: italic;
    text-align: left;
    border: solid 1px;
    padding: 5px;
}